<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='styles/style.css') }}">
    <script src="{{ url_for('static', filename='scripts/script.js') }}"></script> 
</head>
<body>
    <div class="header">
        <div class="contact-div" onclick="toggleContactVisibility()">Contact</div>
        <div class="nav-div">
            <div class="left-div" >
                <a class="active" href="{{ url_for('home') }}">Inicio</a>
            </div>
            <div class="center-div">
                <a href="{{ url_for('portfolio') }}">Portafolio</a>
            </div>
            <div class="right-div">
                <div class="lng-div">
                    <a href="{{ url_for('inicio') }}"><img src="{{ url_for('static', filename='images/spain.png') }}"/></a>
                </div>
                <div class="eng-div">
                    <a href="{{ url_for('home') }}"><img src="{{ url_for('static', filename='images/innit.png') }}"/></a>
                </div>
                <div class="spa-div">
                    <a href="{{ url_for('inicio') }}"><img src="{{ url_for('static', filename='images/spain.png') }}"/></a>
                </div>               
            </div>            
        </div>
    </div>
    <div class="main" id="mainDiv"> 
        <div class="banner">
            <p class="welcome">¡Hola!</p>
            <p class="banner-p">Soy Jesús,<br>Desarrollador de software</p>
        </div>        
        <div class="topic">
            <p class="title">RESUMEN</p>
            <p>Recientemente graduado de Ingeniería en Computación con una sólida base en Python, Java y AWS, y conocimientos prácticos de SQL, HTML, CSS y JavaScript. Reconocido por habilidades de resolución de problemas, adaptabilidad y una mentalidad positiva orientada al crecimiento. Entusiasmado por contribuir a proyectos innovadores de desarrollo de software y crecer dentro de un entorno colaborativo en equipo.</p>
        </div>
        <div class="topic">
            <p class="title">EDUCACIÓN</p>
            <p>Licenciatura en Ingeniería en Computación, 2024
                <p><b>Universidad Tecnologica de Guadalajara</b></p>
            <p>- Guadalajara, JAL</p>
        </div>  
        <div class="topic">
            <p class="title">HABILIDADES TÉCNICAS</p>
            <p>- Python</p>
            <p>- Java</p>
            <p>- AWS</p>
            <p>- HTML</p>
            <p>- CSS</p>
            <p>- JS</p>        
        </div> 
        <div class="topic">
            <p class="title">COMPETENCIAS PERSONALES</p>
            <p>- Resolución de problemas y pensamiento analítico</p>
            <p>- Serenidad bajo presión y adaptable a nuevos desafíos</p>
            <p>- Autodidacta y curiosidad por tecnologías emergentes</p>
            <p>- Fuerte colaboración en equipo y comunicación efectiva</p>           
        </div> 
        <div class="topic">
            <p class="title">LENGUAJES</p>
            <p><b>Español:</b> Lengua madre</p>
            <p><b>Inglés:</b> B1</p>
        </div>    
    </div> 
    <div class="contact" id="toggleDiv">
        <img src="{{ url_for('static', filename='images/yo_mero.jpeg') }}" class="image" />
        <p>Jesus Lomeli</p>
        <p>Aspiring Software Developer</p>
        <p class="divider"></p>
        <p>jesusalomelis@gmail.com</p>
        <p>Guadalajara, Mexico</p>
        <p class="box">+52 33 1791 1127</p>        
        <a class="box" href="https://github.com/Mulzin/portfolio-j-lomeli.git">Github</a>
    </div>
</body>
</html>